body{
	background-color: white;
	margin-left:25%;
	margin-right: 25%;
	max-width: 50em;

}


p{

	color:black;
	font-family: "Times New Roman";
	font-size: 14px;
	
}


@media print {

p{

font-size:16px;

}
	}



section h1{

	text-decoration: underline;
	color:black;
	text-shadow:1px 1px #808080;
}

section h2{

	text-decoration: underline;
	color:black;
	text-shadow:1px 1px #808080;

}

