body{
	background-color: white;
	text-align: center;

}

p{

	color:black;
	font-family: "Times New Roman";
	font-size: 14px;
	
}


@media print {

p{

font-size:14px;

}
	}

section{
	
	margin-left: auto;
	margin-right:auto;

}

section h1{

	text-decoration: underline;
	color:black;
	text-shadow:1px 1px #808080;
}

section h2{

	text-decoration: underline;
	color:black;
	text-shadow:1px 1px #808080;

}




