ul input{
background-color: #D0D0D0;
border-style: none;
cursor:pointer;
display: inline-block;
padding-right:6%;
padding-left: 3%;
padding-bottom:1%;
font-weight: bold;
color:#1669E6;
font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
font-size: 0.9em;

}